
<div class="header-wrapper">
  <div class="header-first-line">
    <div class="header-first-line__left-block">
      <i class="material-icons">phone</i>&nbsp;
      <span> (982) 654 - 3454</span>
      <span class="vertical-divider"></span>
      <i class="material-icons">mail</i>
      &nbsp;<span> info@logoschool.edu</span>
    </div>
    <div class="header-first-line__right-block">
      <button>Login / Sign Up &nbsp;<i class="material-icons">input</i></button>
    </div>
  </div>
  <div class="header-second-line">
    <div class="logo-wrapper">
      <div class="logo"></div>
      <div class="logo-name">
        <h2>LOGOSCHOOL</h2>
        <span>Education Ecosystem</span>
      </div>

    </div>
    <app-nav-menu></app-nav-menu>
    <app-shop></app-shop>
    <app-search></app-search>
  </div>
</div>
