$font-color-main: #252525;
$font-color-p: #636363;
$font-family-main: Roboto, 'sans-serif';
$font-weight-title: 300;
$bg-page: #f5f5f5;
$bg-badge-color: #6cb051;
$header-line: #71a368;
$active-link-color: #488f3a;
$icon-badge-color: #5a8f45;
$events-buttons-color: #a2cf6e;
$white-font: #ffffff;
$border-radius: 3px;

$box-shadow: 0 2px 2px 2px lightgray;

$small-device: 600px;
$medium-device: 900px;
$desktop: 1200px;
