@import "../../../assets/scss/common-classes";

.home-course-section {
  @extend %home-section;
  .section-title {
    @extend %section-title;
  }
  .section-description {
    @extend %section-description;
  }
  .course-wrapper {;
    flex-wrap: wrap;
    @include flex(center, center);
  }
  $courseImages: 'course1' 'course2' 'course3';
  .course-card {
    width: pxToRem(360);
    box-shadow:  $box-shadow;
    margin: pxToRem(20);
    border-radius: $border-radius;
    @each $image in $courseImages {
      &.#{$image} {
        .card-image {
          width: 100%;
          height: pxToRem(210);
          $url:'../../../assets/images/#{$image}.jpg';
          background: url($url) no-repeat top;
          background-size: cover;
        }
      }
    }
  }
  .all-courses-link {
    margin: pxToRem(80) auto pxToRem(120);
    cursor: pointer;
    @include flex();
    a {
      color: $font-color-main;
      text-decoration: none;
      @include font(16, 400);
      line-height: pxToRem(30);
      text-transform: uppercase;
      border-radius: $border-radius;
      border: 1px solid $font-color-main;
      padding: pxToRem(15) pxToRem(30);
      transition: all .3s;
      &:hover, &:active {
        color: #ffffff;
        background-color: $bg-badge-color;
        border-color: transparent;
      }
    }
  }
}
