<section class="home-course-section">
  <h2 class="section-title">Our Featured Courses</h2>
  <p class="section-description">some text</p>
  <div class="course-wrapper">
    <app-media-card
      *ngFor="let course of (cards | async)"
      [card]="course"
      [index]="i"
      [className]="'course-card'"
      [descriptionLength]="70"
    >
      <a type="button" class="apply-button" [routerLink]="course.path">
        Apply
        <i class="fa fa-chevron-right"></i>
      </a>
    </app-media-card>
  </div>
  <div class="all-courses-link">
    <a  routerLink="/courses" (click)="onClick()">View all courses</a>
  </div>
</section>
