@import "../../../assets/scss/mixin";

.stats-about-section {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  h2 {
    font-size: pxToRem(48);
    font-weight: inherit;
    margin-top: pxToRem(120);
  }
  @include flex(center, center, column);
  color: #252525;
  .about-section-bottom {
    background-color: #a2cf6e;
    height: pxToRem(20);
    width: 100%;
    margin-top: pxToRem(120);
  }
}
.stats-banners-wrapper {
 @include flex(space-between);
  max-width: pxToRem(1200);
}
.couple-banners-wrapper {
  width: 50%;
  @include flex(space-around)
}
