@import '../../assets/scss/common-classes';

$courseImages: 'course1' 'course2' 'course3' 'course4' 'course5' 'course6';
.courses-list-page {
  background: $bg-page;
  .page-head {
    color: $white-font;
    background: url('../../assets/images/page-title-img1.jpg') no-repeat center;
    background-size: cover;
  }
  .content-wrapper {
    @include flex(center, center, column-reverse);
    @media (min-width: 1200px) {
      flex-direction: row;
      .search-card {
        align-self: flex-start;
      }
    }
    .courses-wrapper {
      max-width: pxToRem(900);
      width: 100%;
      padding: pxToRem(15);
      box-sizing: border-box;
      flex-grow: 1.2;
    }
    .search-card {
      min-width: pxToRem(300);
      min-height: 100px;
      //align-self: flex-start;
      margin-top: pxToRem(30);
      padding: pxToRem(15);
      div {
        min-height: pxToRem(70);
        box-shadow: inset 0 0 2px 2px darken(white, 20%);
      }
    }
  }

  .course-card {
    @include flex(flex-start, flex-start, column);
    min-width: 340px;
    width: 80%;
    margin: pxToRem(30) auto 0;
    box-shadow:  $box-shadow;
    border-radius: $border-radius;
    box-sizing: border-box;
    .card-image {
      width: 100%;
    }
    .card-data {
      min-width: 340px;
      @include flex(space-between, flex-start, column);
      .apply-button {
        margin-bottom: pxToRem(5);
      }
    }
    &:last-of-type {
      margin-bottom: pxToRem(30);
    }
    @each $image in $courseImages {
      &.#{$image} {
        .card-image {
          min-width: pxToRem(270);
          height: pxToRem(270);
          $url:'../../assets/images/#{$image}.jpg';
          background: url($url) no-repeat top;
          background-size: cover;
        }
      }
    }
    @media (min-width: 900px) {
      @include flex(center, center, row);
      height: pxToRem(270);
      width: 100%;
      .card-data {
        height: pxToRem(270);
        flex-grow: 2;
        min-width: pxToRem(300);
        width: 100%;
      }
      .card-image {
        max-width: pxToRem(270);
      }
    }
  }
}
