@import '../../../assets/scss/common-classes';

$courseImages: 'course1' 'course2' 'course3' 'course4' 'course5' 'course6';

.course-page {
  background: $bg-page;
  .page-head {
    display: none;
    height: pxToRem(299);
  }
  .page-content {
    height: 100%;
    @include flex(center, center, column);
    padding:0 15px 15px;
    .course-info {
      max-width: 400px;
    }
    .course-img {
      position: relative;
      min-height: 270px;
      min-width: 270px;
      width: 100%;
      height: 100vw;
      max-width: 400px;
      max-height: 200px;
      color: $white-font;
      top: 0;
      .course-title-wrapper {
        position: absolute;
        left: 15px;
        top: 40%;
        i {
          margin-right: pxToRem(8);
        }
      }
      .course-title {
        @include font(40, 300);
        margin: pxToRem(20) 0;
      }
      @each $c in $courseImages {
        &.#{$c} {
          background: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),  url('../../../assets/images/#{$c}.jpg') no-repeat top;
          background-size: cover;
        }
      }
    }
  }
  .staff-wrapper {
    @include flex(flex-start, flex-start, column);
  }
  @media (min-width: $small-device) {
    .page-content {
      @include flex(center, flex-start);
      .course-info {
        max-width: pxToRem(600);
        padding: pxToRem(30);
      }
      .course-img {
        margin-top: pxToRem(-120);
        max-width: 270px;
        max-height: 270px;
        @each $c in $courseImages {
          &.#{$c} {
            background: url('../../../assets/images/#{$c}.jpg') no-repeat top;
            background-size: cover;
          }
        }
        .course-title-wrapper {
          top: 0;
          left: 300px;
          display: block;
        }
        .course-title, .course-calendar {
          white-space: nowrap;
        }
        .course-title {
          @include font(32);
        }
      }
    }
    .staff-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .page-head {
      display: block;
      color: $white-font;
      background: url('../../../assets/images/page-title-img1.jpg') no-repeat center;
      background-size: cover;
    }
  }
}

.course-info__title {
  @include font(18, 400);
  text-transform: uppercase;
  line-height: pxToRem(36);
  margin: pxToRem(15) 0 pxToRem(10);
  color: $font-color-main;
  i {
    margin-right: pxToRem(8);
  }
}
