@import "../../../../../assets/scss/common-classes.scss";

.stats-banner {
  @include flex(space-between, flex-start);
  padding: pxToRem(30) pxToRem(30) pxToRem(20);
  box-sizing: border-box;
  background: $bg-badge-color;
  border-radius: $border-radius;
  color: $font-color-main;
  width: pxToRem(270);
  height: pxToRem(150);
  margin: pxToRem(25) pxToRem(15);
  .stats-data {
    height: 100%;
    @include flex(space-between, flex-start, column);
  }
  p {
    margin: 0;
  }
  .stats-banner__title {
    text-transform: uppercase;
    @include font(16, 300);
  }
  .stats-banner__quantity {
    @include font(36);
  }
  i {
    color: $icon-badge-color;
    font-size: 40px;
  }
}
