<div class={{className}}>
  <a *ngIf="imgLink" class="card-image" [routerLink]="card.path">

  </a>
  <div *ngIf="!imgLink" class="card-image">

  </div>
  <div class="card-data">
    <p class="card-date">
    <span>
      <i class="fa fa-calendar-o"></i>
      {{props.date | date:'MMMM d yyyy'}}
    </span>
      <span *ngIf="card.author">
      <i class="fa fa-user-o"></i>
      {{props.author}}
    </span>
    </p>
    <a class="card-link" routerLink={{card.path}}>
      <h5 class="card-title">{{props.title}}</h5>
    </a>

    <p *ngIf="card.description" class="card-description">{{props.description | shortDescription:descriptionLength }}</p>
    <ng-content></ng-content>
  </div>
</div>
