@import "../../../assets/scss/mixin";
$courseImages: 'course1' 'course2' 'course3';

.course-cart {
  @include flex(flex-end, flex-end, column);
  height: 400px;
  width: 360px;
  box-shadow:  0 2px 2px 1px lightgray;
  margin: pxToRem(20);
  border-radius: 3px;
  @each $image in $courseImages {
    &.#{$image} {
      $url:'../../../assets/images/#{$image}.jpg';
      @debug $url;
      background: url($url) no-repeat center;
      background-size: cover;
    }
  }
  .course-info {
    width: 100%;
    background-color: white;


  }
}

