 <!--The content below is only a placeholder and can be replaced.-->
  <!-- <router-outlet></router-outlet>
   --> 
<app-header ></app-header>
<router-outlet #outlet='outlet'></router-outlet>
<app-footer></app-footer>
<ng3-tour-template #gg="tour" (next)="onNext($event)" (done)="onDone($event)">
   <div  class="tour-step-modal__content" *ngIf="gg.currentStep as step">
      <div >
         <div class="tour-step-modal__header">
            <h3 class="tour-step-modal__title"> 
               {{step.title}}
            </h3>
            <button class="tour-btn-close" type="button" modalEvent="close" (break)="onBreak($event)" (done)="onDone($event)">
               &times;
            </button>
         </div>
         <div class="tour-step-modal__body">
            <p class="tour-step-modal__description">
               {{step.description}}
            </p>
            <p class="tour-step-modal__adds">
               {{step.adds}}
            </p>
            <p class="tour-step-modal__adds">
               {{step.customData}}
            </p>
            <p *ngIf="step.index===3" class="tour-step-modal__adds"> 
               StepName of this step is {{step.stepName}}
            </p>
         </div>
         <div class="tour-step-modal__footer">
            <div *ngIf="!step.tourModalOptions.withoutCounter" class="tour-step-modal__counter">
               {{step.index + 1}} of {{step.total}}
            </div>
            <button
               *ngIf="!step.tourModalOptions.withoutPrev && step.index" 
               type="button" 
               class="tour-btn"
               modalEvent="prev"
            >
               {{step.ctrlBtns.prev}}
            </button>
            <button
               *ngIf="step.index + 1 !== step.total"
               type="button"
               class="tour-btn tour-btn-next"
               modalEvent="next"  
               (next)="onNext($event)"
            >
               {{step.ctrlBtns.next}}
            </button>
            <button
               *ngIf="step.index + 1 === step.total"
               type="button"
               class="tour-btn tour-btn-done"
               modalEvent="close"
               (done)="onDone($event)"
            >
               {{step.ctrlBtns.done}}
            </button>
         </div>
      </div>
   </div>
</ng3-tour-template>

