@import "../../../../assets/scss/mixin";
.dropdown-menu-wrapper {
  position: relative;
  a {
   @include nav-item();
  }
  .dropdown-menu-button {
    display: flex;
    align-items: center;
    &.open {
      border-bottom-color:  #6cb051;
    }
  }
  i {
    display: block;
    transition: all .4s;
    &.open {
      transform: rotate(90deg);
    }
    height: pxToRem(23);
  }
  li {
    display: flex;
    align-items: center;
    list-style-type: none;
    line-height: pxToRem(30);
  }
  .sub-menu-item {
    line-height: pxToRem(30);
    a {
      height: auto;
      line-height: pxToRem(30);
    }
  }
  .sub-menu {
    position: absolute;
    left: -3rem;

  }
}
