<footer>
  <div class="footer-body">
    <div class="footer-component"><app-footer-contacts></app-footer-contacts></div>
    <div class="footer-component"><app-footer-courses>sd</app-footer-courses></div>
    <div class="footer-component"><app-footer-news-letters>sd</app-footer-news-letters></div>
    <div class="footer-component"><app-footer-instagram>sd</app-footer-instagram></div>
  </div>
  <div class="footer-bottom">
    <span> Copyright 2019. Powered by logoschool</span>
  </div>

</footer>
