@import "../../../assets/scss/mixin";

.main-about-section {
  font-family: Roboto, sans-serif;
  background: url(../../../assets/images/head.jpg) no-repeat center;
  background-size:  cover;
  max-height: pxToRem(920);
  $header: pxToRem(100);
  height: calc(100vh - #{$header});
  @include flex(center, center, column);
  text-transform: uppercase;
  h1 {
    font-size: pxToRem(60);
    font-weight: 300;
  }
}
