@import "../../../../assets/scss/mixin";

.video-section {
  color: #ffffff;
  @include flex();
  background: url('../../../../assets/images/campus1.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: pxToRem(400);
  max-height: pxToRem(700);
  .video-label-and-control {
    @include flex(center, center);
    @media (orientation: portrait) {
      flex-direction: column;
    }
    .video-label {
      display: block;
      @include font(60, 300);
      margin: pxToRem(20) pxToRem(10);
    }
  }
  i {
    display: block;
    font-size: pxToRem(60);
    margin: 0 pxToRem(40);
    cursor: pointer;
  }
  h2 {

  }
}
